<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.electronicsmarket">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElectronicsMarket"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity_trade_refund_cancel"
            android:exported="false" />
        <activity
            android:name=".Activity_writer_review_collect"
            android:exported="false" />
        <activity
            android:name=".Activity_review_write"
            android:exported="false" />
        <activity
            android:name=".Activity_delivery_info"
            android:exported="false" />
        <activity
            android:name=".Activity_delivery_num_input"
            android:exported="false" />
        <activity
            android:name=".Activity_buy_list"
            android:exported="false" />
        <activity
            android:name=".Activity_address_change"
            android:exported="false" />
        <activity
            android:name=".Activity_trade_detail_info"
            android:exported="false" />
        <activity
            android:name=".Activity_get_address"
            android:exported="false" />
        <activity
            android:name=".Activity_buy_product_delivery"
            android:exported="false" />
        <activity
            android:name=".Activity_kakaopay_api"
            android:exported="false" />
        <activity
            android:name=".Activity_search_all_post"
            android:exported="false" />
        <activity
            android:name=".Activity_category_search_result"
            android:exported="false" />
        <activity
            android:name=".Activity_category_all_post"
            android:exported="false" />
        <activity
            android:name=".Activity_sell_list"
            android:exported="false" />
        <activity
            android:name=".Activity_love_list"
            android:exported="false" />
        <activity
            android:name=".Activity_seller_info"
            android:exported="false" />
        <activity
            android:name=".Activity_location_map"
            android:exported="false" />
        <activity
            android:name=".Activity_place_search"
            android:exported="false" />
        <activity
            android:name=".Activity_place_search_previous"
            android:exported="false" />
        <activity
            android:name=".Activity_post_read"
            android:exported="false" />
        <activity
            android:name=".Activity_category_2"
            android:exported="false" />
        <activity
            android:name=".Activity_category_1"
            android:exported="false" />
        <activity
            android:name=".Activity_post_write"
            android:exported="false" />
        <activity
            android:name=".example"
            android:exported="false" />
        <activity
            android:name=".Activity_change_password"
            android:exported="false" />
        <activity
            android:name=".Activity_member_info"
            android:exported="false" />
        <activity
            android:name=".Activity_profile_update"
            android:exported="false" />
        <activity
            android:name=".Activity_member_out"
            android:exported="false" />
        <activity
            android:name=".Activity_setting"
            android:exported="false" />
        <activity
            android:name=".Activity_find_password"
            android:exported="false" />
        <activity
            android:name=".Activity_main_home"
            android:exported="false" />
        <activity
            android:name=".Activity_signup"
            android:exported="false" />
        <activity
            android:name=".Activity_main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDTN-7TI4yFL7ikRJ0LmHdobNHurvsg5Dc" />
    </application>

</manifest>